.container {
    height: 600px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.title {
    background-color: crimson;
    color: white;
    margin-top: 0;
}